<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<h2>Food Requests from Donors</h2>
<section id="table">
    <form>
                        <input type="text" style="width: 3%;background:  #00cccc;padding:5px" id="id1" name="id1" class="td" readonly value= Req_ID>
                        <input type="text" style="width: 10%;background: #00cccc;padding:5px" name="fullname1" class="td" readonly value=Donor_username>
                        <input type="text" style="width: 6%;background: #00cccc;padding:5px"  name="dist1" class="td" readonly value= Donor_Status>
                        <input type="text" style="width: 7%;background:  #00cccc;padding:5px" name="d_phone1" class="td" readonly value= Donor_phoneno>
                        <input type="text" style="width: 7%;background:  #00cccc;padding:5px" name="phone1" class="td" readonly value= Food_available>
                        <input type="text" style="width: 15%;background:  #00cccc;padding:5px" name="mobile1" class="td" readonly value= Items>
                        <input type="text" style="width: 20%;background:  #00cccc;padding:5px" name="address1" class="td" readonly value=Food_takeup_address>
                        <input type="text" style="width: 5%;background: #00cccc;padding:5px"  name="dist1" class="td" readonly value= Distance>
                        <input type="text" style="width: 5%;background:  #00cccc;padding:5px" name="qty1" class="td" value= Quantity>
                        <input type="text" style="width: 5%;background:  #00cccc;padding:5px" name="accept1" id="accept" value="accept" class="td">
                        
                    </form>

                    <br>        
            
            <%
            if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
            if(data.dist<=7){
            %>

            <form action="acceptqty" method='post'>
                        <input type="text" style="width: 3%;background: #f1f1f1;padding:5px" id="id" name="id" class="td" readonly value= <%= data.req_id %>>
                        <input type="text" style="width: 10%;background: #f1f1f1;padding:5px" name="fullname" class="td" readonly value= <%= data.d_username %>>
                        <input type="text" style="width: 6%;background: #f1f1f1;padding:5px"  name="dist" class="td" readonly value= "<%= data.d_verified %>" >
                        <input type="text" style="width: 7%;background: #f1f1f1;padding:5px" size="10"name="d_phone" class="td" readonly value= <%= data.d_phone %>>
                        
                        <input type="text" style="width: 7%;background: #f1f1f1;padding:5px" name="phone" class="td" readonly value= <%= data.no_of_people_served %>>
                        <input type="text" style="width: 15%;background: #f1f1f1;padding:5px" name="mobile" class="td" readonly value= <%= data.items %>>
                        <input type="text" style="width: 20%;background: #f1f1f1;padding:5px" name="address" class="td" readonly value= "<%= data.food_takeup_addr %>">
                        <input type="text" style="width: 5%;background: #f1f1f1;padding:5px"  name="dist" class="td" readonly value= <%= data.dist %> km>
                        <input type="text" style="width: 5%;background: #f1f1f1;padding:5px" placeholder="Enter quantity" name="qty" class="td" value= ''>
                        <input type="submit" style="width: 5%;background: #f1f1f1;padding:5px" name="accept" id="accept" value="accept" class="td">
                        <input type="hidden" name="reqhidden" id="reqhidden" class="td" value=<%= data.req_id %> >
                        <input type="hidden" name="r_name" id="r_name" class="td" value=<%= d_uname %> >
                    </form>
        <%  i++; }}) %>
    <% } %>
        
    </section>
    
</body>
</html>